<!DOCTYPE html>
<html>
        <%- include("../partials/head") %>
        <link rel="stylesheet" href="css/stylesCC.css">
    </head>
    <body>
        <%- include("../partials/header") %>
        <main>
                <section class="last-visit">
                    <a id="volver" href="/"><button class="volver"><i class="fas fa-arrow-left"></i><h3>Volver a Comprar</h3></button></a>
                </section>
                
                <section>
                    <div class="products">
                        <article>
                            <section class="uno">
                            <img src="images/PelotadeBasket.jpg" alt="Molten" class="product_img">
                            </section>
                        </article>
                        <section class="dos">
                            <div class="informacion">
                            <h4 class="description">Pelota Molten Oficial</h4>
                            <p class="price">$26.770</p>
                            <p class="discount">5% off</p>
                            </div>
                        </section>
                        
                        <section class="tres">
                            <form class="c">
                            <label></label>
                            <select class="colorproducto" style="font-size:16px;" name="Color">
                            <option value="Opcion">Color</option>
                            </select></form>
                            
                            <form class="t">
                            <label></label>
                            <select class="tamañoproducto" style="font-size:16px;" name="Tamaño">
                            <option value="Opcion">Tamaño</option>
                            </select></form>

                            <form class="o"> 
                            <label></label>
                            <select class="cantidadproducto" style="font-size:16px;" name="Cantidad">
                            <option value="Opcion">Cantidad</option>
                            </select></form>
                        </section>

                        <section class="cuatro">  
                            <h2>Aceptamos</h2>
                        <div class="tarjetaslinea"><h4 class="tc">Tarjetas de Credito</h4></div>
                        <img src="images/Credito.jpg" alt="Tarjetas" class="credito">
                        <div class="imagentarjetalinea">
                        </section>
                        <section class="cinco">
                        <div class="tarjetaslinea"></div><h4 class="td"> Tarjeta de Debito</h4>
                        <img src="images/Debito.jpg" alt="Tarjetas" class="debito"></div>
                        </section>
                    </div>
                </section>
                <section>
                    <div class="products">
                        <article>
                            <section class="uno">
                            <img src="images/KickBoxing.jpg" alt="Kick" class="product_img">
                            </section>
                        </article>
                        <section class="dos">
                            <div class="informacion">
                            <h4 class="description">Combo KickBoxing</h4>
                            <p class="price">$7.770</p>
                            <p class="discount">10% off</p>
                            </div>
                        </section>
                        
                        <section class="tres">
                            <section class="c">
                            <label></label>
                            <select class="colorproducto" style="font-size:16px;" name="Color">
                            <option value="Opcion">Color</option>
                            </select></section>
                            
                            <section class="t">
                            <label></label>
                            <select class="tamañoproducto" style="font-size:16px;" name="Tamaño">
                            <option value="Opcion">Tamaño</option>
                            </select></section>

                            <section class="o"> 
                            <label></label>
                            <select class="cantidadproducto" style="font-size:16px;" name="Cantidad">
                            <option value="Opcion">Cantidad</option>
                            </select></section>
                        </section>

                        <section class="cuatro">  
                            <h2>Aceptamos</h2>
                        <div class="tarjetaslinea"><h4 class="tc">Tarjetas de Credito</h4></div>
                        <img src="images/Credito.jpg" alt="Tarjetas" class="credito">
                        <div class="imagentarjetalinea">
                        </section>
                        <section class="cinco">
                        <div class="tarjetaslinea"></div><h4 class="td"> Tarjeta de Debito</h4>
                        <img src="images/Debito.jpg" alt="Tarjetas" class="debito"></div>
                        </section>
                    </div>
                </section>   
        </main>
        <%- include("../partials/footer") %> 
    </body>
</html>