<!DOCTYPE html>
<html>
    <%- include("../partials/head") %>
        <link rel="stylesheet" href="/css/productCreateEdit.css">
    </head>
    <body>
        <div class="cuerpo_creacion_edicion">
            <%- include("../partials/header") %>
            <main class="product_creation">
                    <form class="product_creation" action="/products" method="POST" enctype="multipart/form-data">  
                            <h1 class="creaTuProducto">Crea un nuevo producto!</h1> 
                            <h6 class="requerido">los campos con asterisco son necesarios para la creción del producto</h6>
                        <!-- Aquí van los campos -->
                            <div class="NombreNuevoProducto">
                                <label for="NombreProducto">Nombre del producto</label><label class="requerido">  *</label><br>
                                <input type="text" name="productName" required oninvalid="this.setCustomValidity('Por favor ingresa un nombre del producto a agregar para continuar')"><br>
                            </div>
                            <div class="DescripcionNuevoProducto">
                                <label for="ProductDescripcion">Descripción del producto</label><label class="requerido">  *</label><br>
                                <input type="text" name="productDescription" required oninvalid="this.setCustomValidity('Por favor ingresa una descripción del producto para continuar')"><br>
                            </div>
                            <div class="imagenProducto">
                                <label>Agrega una o más imagenes de tu producto</label>
                                <input type="file" name="productMainImage" accept=".jpg,.png,.peg" multiple>
                            </div>
                            <div class="ClasificacionNuevoProducto">
                                <div class="NuevoUsadoRadios">
                                    <div class="NuevoUsado">
                                        <input class="radio" type="radio" name="productStatus" value="Nuevo">
                                        <label>Producto Nuevo</label>
                                    </div>
                                    <div class="NuevoUsado">
                                        <input class="radio" type="radio" name="productStatus" value="Usado">
                                        <label>Producto Usado</label>
                                    </div>
                                </div>
                                <div class="DetallesProducto">
                                    <div class="nuevoProductoCategoria">
                                        <label>Seleccionar categoría:</label>
                                        <select style="font-size:18px;" name="productCategory">
                                            <option value="Gimnasio">Gimnasio</option>
                                            <option value="Suplementos">Suplementos</option>
                                            <option value="Fútbol">Fútbol</option>
                                            <option value="Boxeo">Boxeo</option>
                                            <option value="Kineseología">Kineseología</option>
                                        </select>
                                    </div>
                                    <div class="nuevoProductoColores">
                                        <label>Seleccione un color:</label>
                                        <select name="productColor">
                                            <option value="Rojo">Rojo</option>
                                            <option value="Verde">Verde</option>
                                            <option value="Azul">Azul</option>
                                            <option value="Morado">Morado</option>
                                            <option value="">No aplica</option>
                                        </select>
                                    </div>
                                    <div class="nuevoProdyctoTalles">
                                        <label>Seleccione un talle:</label>
                                        <select name="productSize">
                                            <option value="ExtraSmall">XS</option>
                                            <option value="Small">S</option>
                                            <option value="Medium">M</option>
                                            <option value="Large">L</option>
                                            <option value="ExtraLarge">XL</option>
                                            <option value="ExtraExtraLarge">XXL</option>
                                            <option value="">No aplica</option>
                                        </select>
                                    </div>  
                                </div>  
                            </div>
                            <div class="CodigoUniversal">
                                <div>
                                    <label for="ProductUniversal">Código Universal del producto</label>
                                    <input type="text" name="productCode" ><br>
                                    <p>Es un numero que se encuentra junto al código de barras, en la caja del producto o en su etiqueta. </p>
                                </div>
                                <div class="referenciaUniversal"> 
                                    <img src="/images/CodigoUniversalRef.png" alt="Referencia de Codigo universal">
                                </div> 
                            </div>
                            <div class="PrecioNuevoProducto">
                                <label for="PrecioUnitario">Precio por Unidad (u$s)</label><label class="requerido">  *</label><br>
                                <input type="text" name="productUnitPrice" required oninvalid="this.setCustomValidity('Por favor ingresa un precio del producto (precio unintario)')"><br>
                            </div>
                            <div class="GuardarNuevoProducto">
                                <div class="botones">
                                    <p><button type="submit">Guardar y crear nuevo producto</button></p> 
                                </div>
                            </div>
                        <div>
                            <div class="logo"> 
                                <img src="/images/Shapepng2.svg" alt="Logo a Color Full Shape">
                            </div> 
                        </div>
                
                    </form>
            </main>
            <%- include("../partials/footer") %>
        </div>
    </body>
</html>
