* {
    margin: 0px;
    font-family:Lato;
}

/* ______ Inicio Estilo header by Seba -------- */


header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #83FACF;
}

nav {
    width: 100%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0px;
    border-bottom: 1px solid #03264C;
    list-style-type: none;
}

li {
    font-size: 17px;
}

#logo {
    width: 43%;
    height: 100px;
}

#logo img {
    width:100%;
    height: 100%;
}

.barra-busqueda {
    width: 43%;
    display: flex;
    background-color: white;
    border: 1px solid #03264C;
    height: 22px;
    align-self: center;
}

form {
    width: 100%;
    height: 22px;
}

.busqueda {
    width: 88%;
    height: 22px;
    padding: 0px;
    border: 0px;
    font-size: 18px;
}

.fa-magnifying-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding:0px;
    height: 100%;
    width: 10%;
}

header a#cart {
    display: flex;
    width: 7.5%;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.seleccionar-categoria {
    text-align: center;
    border-top: 1px solid #03264C;
    border-bottom: 1px solid #03264C;
    width: 100%;
    font-size: 18px;
}

.seleccionar-categoria p {
    display: none;
}

.seleccionar-categoria form {
    width: 100%;
    padding: 2px 0px;
}

select {
    height: 100%;
}

.user-menu {
    display: flex;
    flex-wrap: wrap;
}

.user-menu ul {
    display: none;
}


.user-menu:hover ul {
    display:block;
    position: absolute;
    right: 1px;
    width: 89.963px;
    margin-top: 20px;
    border: 0px;
    padding: 0px;
    z-index: 1;
    background-color: #83FACF;
}

.user-menu:hover ul li {
    color: black;
    text-decoration: none;
    text-align: center;
    width: 80px;
    border: 1px solid black;
    margin: 0px;
}

.user-menu:hover ul li a {
    width: 100%;
    font-size: 15px;
}

.user-menu:hover ul li form, .user-menu:hover ul li form button {
    width: 100%;
    height: 100%;
    background-color: #83FACF;
    border: 0px;
}

.user-menu:hover ul li form button {
    font-size: 15px;
}


/* ______ Fin Estilo header by Seba -------- */


main.home{
    width: 100%;
    margin: 0 auto;
    background-color: #D9D9D9;
}


/* ----- inicio Estilos de Banner ----- */

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(/images/fondo1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    align-self: flex-end;
    padding: 10px;
    }

    div p.banner-notification{
        color: white;
        font-weight: bold;
        font-size: 200%;
    }

.banner-img{
    width: 100%;
}
.banner-flecha{
    width: 5%;
    /* height: 8%; */
}

/* ----- fin estilos banner---- */

.destacados{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.contenedor-padre{
    display: flex;
    background-color: #FFF;
    justify-content: space-around;
    margin: 0px 10px;
    background: linear-gradient(#83FACF, #0a2929);
}

.products {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column;*/
    justify-content: center;
    /* border: 1px solid black; */
    background: linear-gradient(#83FACF, #0a2929);
    /* width: 75%;  */
    padding: 30px;
    /* margin-bottom: 30px; */
    /*align-items: center;*/
}



.filtros {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #83FACF;
    width: 30%;
    align-items: center;
    padding-top: 30px;
    justify-content: flex-start;
    /* margin-bottom: 30px; */
    background: linear-gradient(#83FACF, #0a2929);
}
.filtro-item{
    align-items: flex-start;
    margin:10px


}
.product{
    margin: 10px;
    border: 1px solid black;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 224px;

}

.imagen-home{
    width: 224px;
    height: 224px;
}







main.home section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main.home section h3{
    margin: 20px 0px;
}

.main-article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    
}



@media (max-width: 768px){

    .product{
        margin: 15px;
    }


    .filtros{
        width: 50%;
    }

.filtro-item{
    margin: 0px;

}

}

@media (max-width: 400px){
    .product{
        width: 200px;
    
    }
    
    .imagen-home{
        width: 200px;
        height: 200px;
    }
    .description{
        display: none;
    }
    .filtros{
        display: none;
    }
}




/* __________ Estilos footer ________________ */

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

footer p {
    margin: 5px 0px;
    padding: 0px;
    text-align: center;
}

.footer1, .footer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid black; 
    background-color: #83FACF;
    width: 100%;
}
.footer2 {
    justify-content: space-around;
}
.footer1 a {
    width: 50%;
}
.redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid black; 
    background-color: #83FACF;
    width: 100%;
}
.redes p {
    margin: 0px auto;
}
#c6, #c7 {
    border-radius: 10px;
}

#c6, #c7, #c8 {
    width: 8%;
    margin: 10px;
    margin-left:auto;
}

#c6 img, #c7 img, #c8 img {
    width: 100%;
}

@media (max-width: 768px){

    .barra-busqueda {
        width: 43%;
    }
    a.terminos{
        text-align: right;
    }

    div.redes {
        width: 100%;
        border: 0px 1px solid black;
    }

    div.redes p{
        font-size: 16px;
    }

    
}

@media (min-width: 769px) {
    header a#logo {
        width: 22.5%;
        height: 125px;
    }
    .barra-busqueda {
        width: 33%;
        height: 30px;
        position: relative;
        left: 17.5%;
    }
    form {
        width:100%;
        height: 30px;
    }
    .busqueda {
        width:91.8%;
        height: 30px;
    }
    button {
        width: 7.5%;
    }
    .fa-magnifying-glass {
        font-size: 17px;
    }
    .fa-cart-shopping {
        font-size:20px;
        position:relative;
    }
    ul {
        justify-content: flex-end;
    }
    li {
        margin: 0px 10px;
    }

    .seleccionar-categoria {
        display: flex;
        justify-content: space-around;
    }

    .seleccionar-categoria p {
        display: block;
    }

    .seleccionar-categoria form {
        display:none;
    }
    footer {
        justify-content: space-between;
    }
    .footer1 {
        width: 50%;
    }
    .footer1 a {
        width: 44%;
        padding-left: 10px;
    }
    .redes {
        width: 50%;
    }
    .redes p {
        margin: 0px;
        margin-top: 10px;
        text-align: center;
        flex-basis: 100%;
        height: 20%;
        padding: 0px;
    }
    #c6 {
        margin-left: auto;
        margin-right: 5px;
        margin-bottom: 15%;
    }
    #c7 {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15%;
    }
    #c8 {
        margin-right: auto;
        margin-left: 5px;
        margin-bottom: 15%;
    }
    .footer2 a {
        padding-left: 10px;
        padding-right: 0px;
    }
}