/* Estilos que aplican solo al formulario de creación y al de edicion
de roductos.
Se especificaron clases en cada "div" para que no afecte el estilo del 
resto al incorporarlo en un unico archivo de estilo. */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #13D493;
    /*background-color: #83FACF;*/
}

nav {
    width: 100%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0px;
    border-bottom: 2px solid #00B276;
    /*border-bottom: 1px solid #03264C;*/
    list-style-type: none;
}

li {
    font-size: 17px;
}

#logo {
    width: 43%;
    height: 100px;
}

#logo img {
    width:100%;
    height: 100%;
}

.barra-busqueda {
    width: 43%;
    display: flex;
    background-color: white;
    border: 1px solid #00B276;
    /*border: 1px solid #03264C;*/
    height: 22px;
    align-self: center;
}

form {
    width: 100%;
    height: 22px;
}

.busqueda {
    width: 88%;
    height: 22px;
    padding: 0px;
    border: 0px;
    font-size: 18px;
}

.fa-magnifying-glass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding:0px;
    height: 100%;
    width: 10%;
}

header a#cart {
    display: flex;
    width: 7.5%;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.seleccionar-categoria {
    text-align: center;
    border-top: 2px solid #00B276;
    padding: 2px;
    /*border-top: 1px solid #03264C;
    border-bottom: 1px solid #03264C;*/
    width: 100%;
    font-size: 18px;
}

.seleccionar-categoria p {
    display: none;
}

.seleccionar-categoria form {
    width: 100%;
    padding: 2px 0px;
}

select {
    height: 100%;
}

.user-menu {
    display: flex;
    flex-wrap: wrap;
}

.user-menu ul {
    display: none;
}


.user-menu:hover ul {
    display:block;
    position: absolute;
    right: 1px;
    width: 89.963px;
    margin-top: 20px;
    border: 0px;
    padding: 0px;
    z-index: 1;
    background-color: #13D493;
}

.user-menu:hover ul li {
    color: black;
    text-decoration: none;
    text-align: center;
    width: 80px;
    border: 1px solid black;
    margin: 0px;
}

.user-menu:hover ul li a {
    width: 100%;
    font-size: 15px;
}

.user-menu:hover ul li form, .user-menu:hover ul li form button {
    width: 100%;
    height: 100%;
    background-color: #13D493;
    border: 0px;
}

.user-menu:hover ul li form button {
    font-size: 15px;
}

div.cuerpo_creacion_edicion{

    background-image: url(/images/fondo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

 .logo img{
    text-align: center;
    width: 30%;
 }

 .referenciaUniversal img{
    text-align: center;
    width: 20%;
 } 
 
 .referenciaUniversal{
   display: contents;
 }


div.botones button{

    background-color: #03264C;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 5px; 
    padding: 10px;
    text-align: center;
    width: 100%;
}


.required{
    color: red;
}

form.product_creation{
    margin: 25px auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 1%;
    justify-content: center;
    text-align: center;
    align-items:stretch;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: #13D493;
    opacity: 85%;
    border-radius: 5%;
    height: 800px;
    width: 433px;
}

form.product_creation div {margin-top: 10px;}


form.product_creation div input, form.product_creation div textarea{
    width: 90%;
    vertical-align: middle;
    padding-top: 5px;
    border-radius: 5px;
    height: 30px;
}

form.product_creation div.DescripcionNuevoProducto textarea{
    height: 50px;
}


div.imagenProducto{

padding: 5px;
align-self: center ;
}

div.imagenProducto input#image{
    width: 60%;
    padding: 5px;
    text-align: center ;
    }

form.product_creation div input.radio{

    width: 20%;
    height: 15px;
}

div.NuevoUsado{

    width: 50%;

}

.botones button:hover{
    background-color: #0022AA;
}

.logo img:active{

    transform: rotateZ(-360deg);
    transition: transform, 450ms;
}

.nuevoProductoCategoria, .nuevoProductoColores, .nuevoProdyctoTalles {

text-align: left;

}

form.product_creation div.ClasificacionNuevoProducto{
    align-items: center;
    margin-top: 0px;
}

div.NuevoUsadoRadios{

    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

div.DetallesProducto{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

div.PrecioNuevoProducto{
    align-self: center;
}

form.product_creation div.PrecioNuevoProducto input#price{
    width: 100px;
    height:40px;
}

div.GuardarNuevoProducto{

    display: flex;
    justify-content: space-around;
}

form.product_creation div.logo{
display: contents;

}

@media (min-width: 768px){

    form.product_creation div.logo{

        display: none;
    }

}

/* __________ Estilos footer ________________ */

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

footer p {
    margin: 5px 0px;
    padding: 0px;
    text-align: center;
}

.footer1, .footer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*border-top: 1px solid black;*/
    background-color: #13D493; 
    /*background-color: #83FACF;*/
    width: 100%;
    border-top: 2px solid #00B276;
}

.footer2 {
    /*Añadí un borde mejor*/
    justify-content: space-around;
}

.footer1 a {
    width: 50%;
}

.redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid #00B276;
    /*border-top: 1px solid black;*/
    background-color: #13D493; 
    /*background-color: #83FACF;*/
    width: 100%;
}

.redes p {
    margin: 0px auto;
}

#c6, #c7 {
    border-radius: 10px;
}

#c6, #c7, #c8 {
    width: 8%;
    margin: 10px;
    margin-left:auto;
}

#c6 img, #c7 img, #c8 img {
    width: 100%;
}

@media (max-width: 768px){

    div.footer1 a, div.footerbottom a{
        font-size: 14px;
    }
    a.terminos{
        text-align: right;
    }

    div.redes {
        width: 100%;
        border: 1px solid black;
    }

    div.footer1{
        width: 100%;
    }

    div.redes p{
        width: 50%;
        font-size: 12px;
    }
    
    form.product_creation {
        width: 360px;
        height: 90%;
    }
    
}

@media (min-width:769px) {

    header a#logo {
        width: 22.5%;
        height: 125px;
    }
    .barra-busqueda {
        width: 33%;
        height: 30px;
        position: relative;
        left: 17.5%;
    }
    form {
        width:100%;
        height: 30px;
    }
    .busqueda {
        width:91.7%;
        height: 30px;
    }
    button {
        width: 7.5%;
    }
    .fa-magnifying-glass {
        font-size: 17px;
    }
    .fa-cart-shopping {
        font-size:20px;
        position:relative;
    }
    ul {
        justify-content: flex-end;
    }
    li {
        margin: 0px 10px;
    }

    .seleccionar-categoria {
        display: flex;
        justify-content: space-around;
    }

    .seleccionar-categoria p {
        display: block;
    }

    .seleccionar-categoria form {
        display:none;
    }
    footer {
        justify-content: space-between;
    }
    .footer1 {
        width: 50%;
    }
    .footer1 a {
        width: 44%;
        padding-left: 10px;
    }
    .redes {
        width: 50%;
    }
    .redes p {
        margin: 0px;
        margin-top: 10px;
        text-align: center;
        flex-basis: 100%;
        height: 20%;
        padding: 0px;
    }
    #c6 {
        margin-left: auto;
        margin-right: 5px;
        margin-bottom: 15%;
    }
    #c7 {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15%;
    }
    #c8 {
        margin-right: auto;
        margin-left: 5px;
        margin-bottom: 15%;
    }
    .footer2 a {
        padding-left: 10px;
        padding-right: 0px;
    }
}