/* Estilos que aplican solo al formulario de registro.
Se especificaron clases en cada "div" para que no afecte el estilo del 
resto al incorporarlo en un unico archivo de estilo. */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

main{
    width: 100%;
    margin: 0 auto;
    padding: 5% 5%;
}

body {
    font-family: 'Lato', sans-serif;
}


div.cuerpo-registro{

    background-image: url(/images/fondo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

 .logo-registro img{
    text-align: center;
    width: 50%;
 }


.inicia-sesion{
    padding: 4%;
}


::placeholder{
    color: black;
    text-align: center;
 }


form div.recordarme{
    display: flex;
    padding: 3%;
    text-align: left;
    justify-content: space-around;
}



div.registrate{
    text-align: center;
}


div.botones button{

    background-color: #03264C;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px; 
    padding: 10px;
    text-align: center;
}



/* _________ estilo agregado para el registro de usuarios__________ */

.requerido{
    color: red;
}

form.registro-popup{

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 2%;
    justify-content: center;
    text-align: center;
    align-items:stretch;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    background-color: #13D493;
    opacity: 85%;
    border-radius: 5%;
    height: 840px
}

form.registro-popup1 {
  height: 90%;
  width: 50%;
}


.formRegistro-derecho, .formRegistro-izquierdo{
    width: 50%;
    align-self: center;
}


div.formRegistro-derecho, div.formRegistro-izquierdo{
display: flex;
flex-wrap: nowrap;
flex-direction: column;
padding: 1%; 

}

form.registro-popup div input{

    border-radius: 5px;
    background-color: #D9D9D9;
    width: 90%;
    height: 30px;
}
form.registro-popup div input.radio{

    width: 10%;
    height: 15px;
}
.formRegistro-izquierdo div{
    padding: 2%;
    border-right: inset;
}

div.formRegistro-derecho div.terminos{
    padding: 4%;
}



/* _________inicio estilo boton de inicio sesion con google__________ */

div.content-wrapper{
    display: flex;
    flex-direction: row;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.g-sign-in-button {
    margin: 10px;
    display: inline-block;
    width: 77%;
    height: 50px;
    background-color: #4285f4;
    color: #fff;
    border-radius: 5px;
    align-self: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    transition: background-color .218s, border-color .218s, box-shadow .218s;
}

.g-sign-in-button:hover {
    cursor: pointer;
    -webkit-box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
    box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.g-sign-in-button:active {
    background-color: #3367D6;
    transition: background-color 0.2s;
}

.g-sign-in-button .content-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;
}

.g-sign-in-button img {
    width: 18px;
    height: 18px;
}

.g-sign-in-button .logo-wrapper {
    padding: 15px;
    background: #fff;
    width: 48px;
    height: 100%;
    border-radius: 10px;
    display: inline-block;
}

.g-sign-in-button .text-container {
    font-family: Roboto,arial,sans-serif;
    font-weight: 500;
    letter-spacing: .21px;
    font-size: 15px;
    vertical-align: top;
    border: none;
    display: inline-block;
    text-align: center;
    width: 180px;
    align-self: center;
}


/* _________fin de estilo boton de inicio sesion con google __________ */

.botones button:hover{
    background-color: #0022AA;
}
div.recibir-ofertas{
    padding-top: 0%;
}

div.errores {
    width: 33%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

div.errores ul {
    display: none;
    padding: 10px 0px;
}

div.errores ul li {
    margin-bottom: 2px;
}


@media (max-width: 768px){

form.registro-popup{
    flex-direction: column;
    height: 835px;
}

form.registro-popup1 {
    width: 320px;
    height: 90%;   
}

.formRegistro-izquierdo div {
border-right:none;
}

.formRegistro-derecho, .formRegistro-izquierdo {
    width: 80%;
}
.formRegistro-izquierdo div{
    padding: 1%;
}

div.botones button{

    margin: 5px; 
}

form.registro-popup div input{

    border-radius: 5px;
    background-color: #D9D9D9;
    width: 90%;
    height: 20px;
}
form.registro-popup div input.radio{

    width: 10%;
    height: 10px;

}


}

/* __________ Estilos footer ________________ */

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

footer p {
    margin: 5px 0px;
    padding: 0px;
    text-align: center;
}

.footer1, .footer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*border-top: 1px solid black;*/
    background-color: #13D493; 
    /*background-color: #83FACF;*/
    width: 100%;
    border-top: 2px solid #00B276;
}
.footer2 {
    /*Añadí un borde mejor*/
    justify-content: space-around;
}
.footer1 a {
    width: 50%;
}
.redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid #00B276;
    /*border-top: 1px solid black;*/
    background-color: #13D493; 
    /*background-color: #83FACF;*/
    width: 100%;
}
.redes p {
    margin: 0px auto;
}
#c6, #c7 {
    border-radius: 10px;
}

#c6, #c7, #c8 {
    width: 8%;
    margin: 10px;
    margin-left:auto;
}

#c6 img, #c7 img, #c8 img {
    width: 100%;
}

@media (min-width:769px) {
    footer {
        justify-content: space-between;
    }
    .footer1 {
        width: 50%;
    }
    .footer1 a {
        width: 44%;
        padding-left: 10px;
    }
    .redes {
        width: 50%;
    }
    .redes p {
        margin: 0px;
        margin-top: 10px;
        text-align: center;
        flex-basis: 100%;
        height: 20%;
        padding: 0px;
    }
    #c6 {
        margin-left: auto;
        margin-right: 5px;
        margin-bottom: 15%;
    }
    #c7 {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 15%;
    }
    #c8 {
        margin-right: auto;
        margin-left: 5px;
        margin-bottom: 15%;
    }
    .footer2 a {
        padding-left: 10px;
        padding-right: 0px;
    }
}

