<footer>
    <div class="footer1">
        <a href="#"><p style="font-weight:bold;">Formas de pago >>></p></a>
        <a href="#"><p>Acerca de FullShape</p></a>
        <a href="#"><p>Seguimiento de pedidos</p></a>
        <a href="#"><p>Sucursales</p></a>
        <a href="#"><p>Cambios y devoluciones</p></a>
        <a href="#"><p>Contacto</p></a>
        <a href="#"><p>Asistencia al cliente</p></a>
        <a href="#"><p>Novedades y eventos</p></a>
    </div>
    <div class="redes">
        <p style="font-weight:bold;">Seguinos en nuestras redes</p>
        <a id="c6" href="https://web.facebook.com/"><img src="/images/facelogo.png" alt=""></a>
        <a id="c7" href="https://www.instagram.com/"><img src="/images/Instalogo.png" alt=""></a>
        <a id="c8" href="https://twitter.com/"><img src="/images/Twitter.png" alt=""></a>
    </div>
    <div class="footer2">
        <a href="#"><p class="terms" style="font-weight:bold;">Política de privacidad</p></a>
        <a href="#"><p class="terms" style="font-weight:bold;">Términos y condiciones</p></a>
    </div>
</footer>