<header>
    <nav>
        <ul>
            <a href="/products/create"><li style="font-weight:bold">Vender</li></a>
            <a href="#"><li>Ayuda</li></a>
            <% if (user) { %>
             <li class="user-menu"><%= user.userNames %>
                <ul>
                    <a href="/users/<%= user.userId %>"><li>Ver perfil</li></a>
                    <form action="/users" method="POST">
                        <button type="submit"><li>Cerrar Sesión</li></button>
                    </form>
                </ul>
            </li>
            <% } else { %>
              <a href="/users/login"><li>Iniciar sesión</li></a>
              <a href="/users/register"><li>Registrate</li></a>
            <% } %>
        </ul>
    </nav>
    <a href="/" id="logo"><img  src="/images/Shapepng.svg" alt=""></a>
    <div class="barra-busqueda">
        <form action="/products/search" method="GET">
            <input class="busqueda" type="text" name="articulo" placeholder="Buscar artículo"> 
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <a id="cart" href="/shoppingcart"><i class="fa-solid fa-cart-shopping"></i></a>
    <div class="seleccionar-categoria">
        <p>Gimnasio</p>
        <p>Suplementos</p>
        <p>Fútbol</p>
        <p>Boxeo</p>
        <p>Kineseología</p>
        <form action="/" method="POST">
        <label>Seleccionar categoría</label>
        <select style="font-size:18px;" name="Categoría">
            <option value="gimnasio">Gimnasio</option>
            <option value="gimnasio">Suplementos</option>
            <option value="gimnasio">Fútbol</option>
            <option value="gimnasio">Boxeo</option>
            <option value="gimnasio">Kineseología</option>
        </select>
        </form>
    </div>
</header>