<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Identifícate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/loginstyles.css">
    </head>
    <body class="login">
        <!-- <img src="/images/loginRegister-background.png" alt="loginRegister-background"> -->
        <div class="cuerpo-login">
        <header>
            <div class="login-header">
                <div class="logo-login"> 
                    <img src="/images/Shapepng2.svg" alt="Logo a Color Full Shape">
                    <!-- <h1>Full Shape</h1> -->
                </div>
                <p>
                    DEPORTES.SUPLEMENTOS.REHABILITACION
                </p>
                <h1 class="inicia-sesion">Iniciá sesión y llena tu carrito</h1>
                <div class="carrito-login"> 
                    <img src="/images/carrito.svg" alt="Logo Verde FullShape">
                </div>
            </nav>
        </header>
        <main>
            <form class="login" action="/login" method="POST">   
                <!-- Aquí van los campos -->
                <div class="login"><input type="text" name="usuario" placeholder="Nombre de usuario"></div>
                <div class="login"><input type="password" name="contraseña" placeholder="Contraseña"></div>
                <div class="recordarme"> 
                    <div>
                        <label>Recordarme</label>
                        <input type="radio" name="recordarme">
                    </div>
                    <a href="#">Olvidaste tu contraseña?</a>
                </div>
                <div class="registrate">
                    <a>Si no posees cuenta regístrate</a>
                    <a href="/register">AQUI</a>
                </div>
                <div class="botonLogin">
                    <button type="submit">Iniciar</button>
                </div>
                    
                
    
            </form>
        </main>
        <footer>
            <div class="footer1">
                    <div class="footer1-izquierdo">
                        <a href="#">Formas de pago >>></a>
                        <a href="#">Seguimiento de pedidos</a>
                        <a href="#">Cambios y devoluciones</a>
                        <a href="#">Asistencia al cliente</a>
                    </div>
                    <div class="footer1-izquierdo">
                        <a href="#">Acerca de FullShape</a>
                        <a href="#">Sucursales</a>
                        <a href="#">Contacto</a>
                        <a href="#">Novedades y eventos</a>
                    </div>
            </div>
            <div class="redes">
                <p style="font-weight:bold;">Seguinos en nuestras redes</p>
                <img id="c6"src="/images/facelogo.png" alt="">
                <img id="c7"src="/images/Instalogo.png" alt="">
                <img id="c8"src="/images/Twitter.png" alt="">
            </div>
            <div class="footerbottom">
                <a class="politica" href="#">Politica de privacidad</a>
                <a class="terminos" href="#">Términos y condiciones</a>
            </div>
        </footer>
        </div>
    </body>
</html>

        