<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>FullShape</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/2da8e91210.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/stylesCC.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <a href="#"><li>Ayuda</li></a>
                    <a href="#"><li>Iniciar sesión</li></a>
                    <a href="#"><li>Registrate</li></a>
                </ul>
            </nav>
            <img class="logo" src="/images/Shapepng.svg" alt="">
            <div class="barra-busqueda">
                <form action="/" method="POST">
                    <input class="busqueda" type="text" name="articulo" placeholder="Buscar artículo">
                </form>
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <a id="cart" href="/shoppingcart"><i class="fa-solid fa-cart-shopping"></i></a>
            <div class="seleccionar-categoria">
                <p>Gimnasio</p>
                <p>Suplementos</p>
                <p>Fútbol</p>
                <p>Boxeo</p>
                <p>Kineseología</p>
                <form action="/" method="POST">
                <label>Seleccionar categoría</label>
                <select style="font-size:18px;" name="Categoría">
                    <option value="gimnasio">Gimnasio</option>
                    <option value="gimnasio">Suplementos</option>
                    <option value="gimnasio">Fútbol</option>
                    <option value="gimnasio">Boxeo</option>
                    <option value="gimnasio">Kineseología</option>
                </select>
                </form>
            </div>
        </header>
        <main>
                <section class="last-visit">
                    <button class="volver"><i class="fas fa-arrow-left"></i><h3>Volver a Comprar</h3></button>
                </section>
                
                <section>
                    <div class="products">
                        <article>
                            <section class="uno">
                            <img src="images/PelotadeBasket.jpg" alt="Molten" class="product_img">
                            </section>
                        </article>
                        <section class="dos">
                            <div class="informacion">
                            <h4 class="description">Pelota Molten Oficial</h4>
                            <p class="price">$26.770</p>
                            <p class="discount">5% off</p>
                            </div>
                        </section>
                        
                        <section class="tres">
                            <form class="c">
                            <label></label>
                            <select class="colorproducto" style="font-size:16px;" name="Color">
                            <option value="Opcion">Color</option>
                            </select></form>
                            
                            <form class="t">
                            <label></label>
                            <select class="tamañoproducto" style="font-size:16px;" name="Tamaño">
                            <option value="Opcion">Tamaño</option>
                            </select></form>

                            <form class="o"> 
                            <label></label>
                            <select class="cantidadproducto" style="font-size:16px;" name="Cantidad">
                            <option value="Opcion">Cantidad</option>
                            </select></form>
                        </section>

                        <section class="cuatro">  
                            <h2>Aceptamos</h2>
                        <div class="tarjetaslinea"><h4 class="tc">Tarjetas de Credito</h4></div>
                        <img src="images/Credito.jpg" alt="Tarjetas" class="credito">
                        <div class="imagentarjetalinea">
                        </section>
                        <section class="cinco">
                        <div class="tarjetaslinea"></div><h4 class="td"> Tarjeta de Debito</h4>
                        <img src="images/Debito.jpg" alt="Tarjetas" class="debito"></div>
                        </section>
                    </div>
                </section>
                <section>
                    <div class="products">
                        <article>
                            <section class="uno">
                            <img src="images/KickBoxing.jpg" alt="Kick" class="product_img">
                            </section>
                        </article>
                        <section class="dos">
                            <div class="informacion">
                            <h4 class="description">Combo KickBoxing</h4>
                            <p class="price">$7.770</p>
                            <p class="discount">10% off</p>
                            </div>
                        </section>
                        
                        <section class="tres">
                            <section class="c">
                            <label></label>
                            <select class="colorproducto" style="font-size:16px;" name="Color">
                            <option value="Opcion">Color</option>
                            </select></section>
                            
                            <section class="t">
                            <label></label>
                            <select class="tamañoproducto" style="font-size:16px;" name="Tamaño">
                            <option value="Opcion">Tamaño</option>
                            </select></section>

                            <section class="o"> 
                            <label></label>
                            <select class="cantidadproducto" style="font-size:16px;" name="Cantidad">
                            <option value="Opcion">Cantidad</option>
                            </select></section>
                        </section>

                        <section class="cuatro">  
                            <h2>Aceptamos</h2>
                        <div class="tarjetaslinea"><h4 class="tc">Tarjetas de Credito</h4></div>
                        <img src="images/Credito.jpg" alt="Tarjetas" class="credito">
                        <div class="imagentarjetalinea">
                        </section>
                        <section class="cinco">
                        <div class="tarjetaslinea"></div><h4 class="td"> Tarjeta de Debito</h4>
                        <img src="images/Debito.jpg" alt="Tarjetas" class="debito"></div>
                        </section>
                    </div>
                </section>
                    
        </main>
        <footer>
                <div class="footer1">
                    <a href="#"><p style="font-weight:bold;">Formas de pago >>></p></a>
                    <a href="#"><p>Acerca de FullShape</p></a>
                    <a href="#"><p>Seguimiento de pedidos</p></a>
                    <a href="#"><p>Sucursales</p></a>
                    <a href="#"><p>Cambios y devoluciones</p></a>
                    <a href="#"><p>Contacto</p></a>
                    <a href="#"><p>Asistencia al cliente</p></a>
                    <a href="#"><p>Novedades y eventos</p></a>
                </div>
                <div class="redes">
                    <p style="font-weight:bold;">Seguinos en nuestras redes</p>
                    <a id="c6" href="https://web.facebook.com/"><img src="/images/facelogo.png" alt=""></a>
                    <a id="c7" href="https://www.instagram.com/"><img src="/images/Instalogo.png" alt=""></a>
                    <a id="c8" href="https://twitter.com/"><img src="/images/Twitter.png" alt=""></a>
                </div>
                <div class="footer2">
                    <a href="#"><p class="terms" style="font-weight:bold;">Política de privacidad</p></a>
                    <a href="#"><p class="terms" style="font-weight:bold;">Términos y condiciones</p></a>
                </div>
            </footer>


       
        
    </body>
</html>